/****************Header************************/
ol, ul{
  padding: 0;
  margin: 0;
}
body{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.Header{
  position: relative;
  width: 1170px;
  margin: 0 auto;
  z-index: 110;
}

.Header-list{
  float: right;
  list-style:none;
}

.Header-list-li{
  float: left;
  width: 100px;
  height: 70px;
  line-height: 70px;
  text-align: right;
}
.Header-list-li a{
  color: #297b99;
  font-size: 16px;
  font-family: "微软雅黑";
  font-weight: bold;
}
.Header-list-li a:hover{
  color: #297b99;
}


/****************Banner************************/

.Banner{
  position: relative;
  height: 800px;
}
.Banner-img{
  position: absolute;
  width:100%;
  height: 800px;
  min-width: 1170px;
  transition: all 2.5s ease;
}
.Show-out{
  opacity:1;
}
.Hide-off{
  opacity:0;
}
.buttonGroup{
  position: absolute;
  width: 1170px;
  bottom: 0;
  left: 50%;
  margin-left: -585px;
  height: 60px;
}
.Toggle-btn-prev{
  position: absolute;
  right: 100px;
  bottom: 10px;
  z-index: 300;
}
.Toggle-btn-next{
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 300;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
 .Detailed{
    width: 1170px;
    margin: auto;
    overflow: hidden;
  }
  .Detailed-title{
    width: 1170px;
    float: left;
  }
  .Detailed-enterpriseWrap{
    width:1200px;
  }
  .Detailed-enterprise{
    background: #f2f4f5;
    text-align:center;
    width: 280px;
    height: 280px;
    float: left;
    margin-right: 17px;
  }
  .Detailed-enterprise:hover{
    background: #297b99;
  }
  .Detailed-enterprise:hover .Detailed-title-a{
    color:#ffffff;
  }
   .Detailed-enterprise:hover .Detailed-title-b{
    color:#ffffff;
  }
  .Detailed-title-p{
    float: left;
    height: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .Detailed-title-span-a{
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
  }
  .Detailed-title-span-b{
   font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
  }
  .Detailed-img{
      margin-top: 60px;
     margin-bottom:30px;
     margin-left: 40%;
     height: 58px;
     width: 58px;
  }
.Detailed-img-a{
     background: url(images/normal-a.png);
}
.Detailed-img-b{
     background: url(images/normal-b.png);
}
.Detailed-img-c{
     background: url(images/normal-c.png);
}
.Detailed-img-d{
     background: url(images/normal-d.png);
}
.Detailed-enterprise:hover .Detailed-img-b{
     background: url(images/change-b.png);
}
.Detailed-enterprise:hover .Detailed-img-a{
     background: url(images/change-a.png);
}
.Detailed-enterprise:hover .Detailed-img-c{
     background: url(images/change-c.png);
}
.Detailed-enterprise:hover .Detailed-img-d{
     background: url(images/change-d.png);
}
.Detailed-title-a{
  margin-bottom: 10px;
  font-size: 20px;
    font-family: 微软雅黑;
    color:#808080;
    line-height: 20px;
}
/*.Detailed-title-change-a{
  margin-bottom: 10px;
  font-size: 20px;
    font-family: 微软雅黑;
    color:#ffffff;
    line-height: 20px;
}*/
.Detailed-title-b{
  font-size: 14px;
    font-family: 微软雅黑;
    color:#808080;
    line-height: 10px;
}
/*.Detailed-title-change-b{
  font-size: 14px;
    font-family: 微软雅黑;
    color:#ffffff;
    line-height: 10px;
}*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.Navigation{
  width: 100%;
  background: #f2f4f5;
  margin: auto;
  height: 150px;
}
.Navigation-main{
  width: 1170px;
  margin: auto;
}
.Navigation-blcok{
  width: 25%;
  height: 150px;
  float:left;
  position: relative;
}
.Navigation-normal{
  /*width: 25%;*/
  /*float: left;*/
  width:100%;
  background: #f2f4f5;
}
.Navigation-normal:hover{
  background: #297b99;
  position: absolute;
  bottom: 0;
  height: 180px;
  cursor:pointer;
}
.Navigation-normal:hover .Navigation-title-a{
color:#ffffff;
border-color: #ffffff;
}
.Navigation-normal:hover .Navigation-title-b{
color:#ffffff;
}
.Navigation-normal:hover .Navigation-title-c{
color:#ffffff;
}
/*#Navigation-a:hover{
  height: 180px;
  line-height: 180px;
}*/
.Navigation-span-a{
  height: 150px;
  float: left;
  width: 35%;
}
.Navigation-span-b{
  height: 75px;
  float: right;
  width: 65%;
}
.Navigation-span-c{
  height: 75px;
  float: right;
  width: 65%;
}
.Navigation-title-a{
  border-color: #4d91aa;
  border-width: 3px;
  border-bottom-style: solid;
  float: right;
  margin-top: 45%;
  font-size: 32px;
  font-family: "Arial";
  font-weight: bold;
  color:#4d91aa;
}
.Navigation-title-b{
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: bold;
  color:#4d91aa;
}
.Navigation-title-c{
  float: left;
  margin-left: 20px;
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: bold;
  color:#4d91aa;
}
/********************Viewmore***********************/
.Viewmore{
  margin-top: 40px;
  width: 100%;
}
.Viewmore-main{
  width: 1170px;
  margin: auto;
}
.Viewmore-main-more{
   width: 400px;
   height: 60px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   line-height: 60px;
   border: 1px solid #297b99;
}
.Viewmore-main-more-a{
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: bold;
  color:#297b99;
}
/*******************Brand*******************/
.Brand{
  width: 100%;
  margin-top: 40px;
}
.Brand-main{
  width: 1170px;
  margin: 0 auto;
}
.Brand-main-title{
  margin-bottom: 20px;
}
.Brand-main-title-a{
  font-size: 20px;
  font-family: "微软雅黑";
  font-weight: bold;
  color:#4d91aa;
}
.Brand-main-title-b{
  font-size: 14px;
  font-family: "微软雅黑";
  font-weight: bold;
  color:#4d91aa;
}
.Brand-main-picture{
  background: #f2f4f5;
  height: 600px;
}
.Brand-main-picture .Banner{
  height: 600px;
}
.Brand-main-picture .Banner-img{
  height: 600px;
}
.Brand-img-title{
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: -60px;
  padding-left: 20px;
  font-size: 16px;
  font-family: "微软雅黑";
  font-weight: bold;
  color:#ffffff;
  background: rgba(0, 0, 0, .4);
  z-index: 200;
}
/************** Footer ****************/
.Footer{
width: 100%;
margin-top: 90px;
background: #4d91aa;
}
.Footer-main{
  width: 1170px;
  height: 300px;
  margin: auto;
}
.Footer-independent{
  width: 15%;
  height: 300px;
  float: left;
}
.Footer-independent-left{
  width: 15%;
  height: 300px;
  float: right;
}

.Footer-title{
  text-align: center;
  color:#ff000f;

}
.Footer-title-a{
  list-style:none;
  text-align: center;
  font-size: 14px;
  font-family: "微软雅黑";
  font-weight: bold;
  padding-top:40px;
  padding-bottom: 15px;
  color: #ffffff;
}
.Footer-list-li{
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-family: "微软雅黑";
  color: #ffffff;
}
.Footer-list-li a{
  color: #ffffff;
  text-decoration: none;
}
.Footer-list-li a:hover{
  color: #ffffff;
}
.Footer-img{
  float: right;
}
.end{
  width: 100%;
  height: 100px;
  margin: auto;
  background: #197082;
}
/*
********************************************************************
*here is the style for contact
********************************************************************
*/

/*******************Map*******************/
.Map{
  width: 100%;
}
.Map-title{
  font-family: "微软雅黑";
  font-weight: bold;
  font-size: 14px;
  border-top: 2px solid #f5f5f5;
}
.Map-title-p{
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #297b99;
}
.Map-title-p-title-span-a{
  font-size: 1.429em;
}
.Map-title-span-b{
  font-size: 1.429em;
}
.Map-img{
  width: 100%;
  height: 500px;
}
.Map-img img{
  width: 100%;
  height: 100%;
}

/*******************Contact-hover*******************/
.ContactNavigation-blcok{
  position: relative;
  height: 150px;
  float:left;
  width: 33.3%;
}



