.Header{
  width: 1170px;
  /*margin: 0 auto;*/
  left: 50%;
  margin-left: -585px;
  position: absolute;
}

.Header-list{
  float: right;
  list-style:none;
}

.Header-list-li{
  float: left;
  margin-right: 40px;
  margin-top: 10px;
}
.Header-list-li a{
  color: white;
  font-size: 16px;
   font-family: "微软雅黑";
    font-weight: bold;
}

.Banner-img{
  width:100%;
  min-width: 1170px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.Banner{
  width: 100%;
 margin:auto;
}
.Banner-main{

}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
 .Detailed{
    width: 1170px;
  margin: auto;
  overflow: hidden;
  }
  .Detailed-title{
    width: 1170px;
    float: left;
  }
    .Detailed-enterpriseWrap{
      width:1200px;
    }
    .Detailed-enterprise{
      background: #f2f4f5;
      text-align:center;
      width: 280px;
      height: 280px;
      float: left;
      margin-right: 17px;
  }
  .Detailed-title-p{
      float: left;
      margin-top: 60px; 
     margin-bottom:30px;
  }
  .Detailed-title-span-a{
    font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
  }
  .Detailed-title-span-b{
   font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
  }
.Detailed-img{
    margin-top: 60px; 
     margin-bottom:30px;
}
.Detailed-title-a{
  margin-bottom: 10px;
  font-size: 20px;
    font-family: 微软雅黑;
    color:#808080;
    line-height: 20px;
}
.Detailed-title-change-a{
  margin-bottom: 10px;
  font-size: 20px;
    font-family: 微软雅黑;
    color:#ffffff;
    line-height: 20px;
}
.Detailed-title-b{
  font-size: 14px;
    font-family: 微软雅黑;
    color:#808080;
    line-height: 10px;
}
.Detailed-title-change-b{
  font-size: 14px;
    font-family: 微软雅黑;
    color:#ffffff;
    line-height: 10px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.Navigation{
  width: 100%;
  background: #f2f4f5;
}
.Navigation-main{
  width: 1170px;
  margin: auto;
}
.Navigation-normal{
  width: 25%;
  float: left;
  background: #f2f4f5;
}
/*#Navigation-a:hover{
  height: 180px;
  line-height: 180px;
}*/
.Navigation-span-a{
  height: 150px;
  float: left;
  width: 35%;
}
.Navigation-span-b{
  height: 75px;
  float: right;
  width: 65%;
}
.Navigation-span-c{
  height: 75px;
  float: right;
  width: 65%;
}
.Navigation-title-a{
 text-decoration:underline;
 float: right;
  margin-top: 50%;
  font-size: 32px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
}
.Navigation-title-b{
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
}
.Navigation-title-c{
  float: left;
  margin-left: 20px;
  font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
}
/********************Viewmore***********************/
.Viewmore{
  width: 100%;
}
.Viewmore-main{
  width: 1170px;
  margin: auto;
}.Viewmore-main-more{
   margin-top: 40px;
 width: 400px;
 border-color: #297b99;
 border-style: solid;
 border-width: 2px;
margin-left: auto;
margin-right: auto;
 text-align: center;
 line-height: 60px;
 overflow: hidden;
}
.Viewmore-main-more-a{
  font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#297b99;
}
/*******************Brand*******************/
.Brand{
  width: 100%;
   margin-top: 40px;
}
.Brand-main{
  width: 1170px;
  margin: auto;


}
.Brand-main-title{
margin-bottom: 20px;
}
.Brand-main-title-a{
  font-size: 20px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
}
.Brand-main-title-b{
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color:#4d91aa;
}
.Brand-main-picture{
  background: #f2f4f5;
  height: 600px;

}
/************** Footer ****************/
.Footer{
width: 100%;
background: #4d91aa;
}
.Footer-main{
  width: 1170px;
  height: 300px;
  margin: auto;
}
.Footer-independent{
  width: 20%;
  height: 300px;

}
.Footer-title{
  text-align: center;
    color:#ff000f;

}
.Footer-title-a{
  list-style:none;
  text-align: center;
font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
}
.Footer-list-li{
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bold;
    color: #ffffff;
}


